/bin/postman-test/newman/
bin/postman-test/newman/
bin/testResult/

# Intellij
.idea/
*.iml
*.iws

* Etc
*.DS_Store

# Compose file from developer-scripts
docker-compose-*.yml
!docker-compose-test-tools.yml
