bin/postman-test/newman/
bin/testResult/

.vscode/
# Intellij
.idea/
*.iml
*.iws

* Etc
*.DS_Store

# Compose file from developer-scripts
Makefile
docker-compose-*.yml
!docker-compose-test-tools.yml
compose-files/
